/**
****************
****************
File: style.css;
Type: StyleSheet;
****************
****************
**/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span {
	display:table;
	margin:0 auto;
	margin-bottom: 5px;
}

body{
	background-color: #FFF;
	overflow: hidden;
}

/*
	LOGIN
*/
.container{
	width:480px;
	height: 800px;
	background-color:#005CA8;
	margin: 0 auto;
	overflow: hidden;
	position:relative;
}

#headTitle{
	text-align: center;
	color:#FFF;
	font-family: 'arial';
	position:relative;
	z-index: 1;
}

.login_form{
	width:45%;
	height:200px;
	margin:0 auto;
	display: block;
	position:relative;
	z-index: 1;
}

#logo{
	width:80%;
	height:150px;
	background-color: #FFF;
	margin:0 auto;
	border-radius: 15px;
	margin-top: 150px;
	position:relative;
	z-index: 1;
}

.span_text{
	color:#FFF;
	font-family: 'arial';
}

.input_class{
	margin:0 auto;
	margin-bottom: 5px;
	width: 100%;
	height:20px;
	border-radius: 5px;
	border-color: #FFF;
	border-width: 0.5px;
	border-style: solid;
	background-color: #005CA8;
}

#bg_circle{
	width:300px;
	height:300px;
	border-radius: 200px;
	background-color: #00468C;
	opacity: 0.5;
	position: absolute;
	left:-40px;
}

#bg_circle_2{
	width:300px;
	height:300px;
	border-radius: 200px;
	background-color: #00468C;
	opacity: 0.5;
	position: absolute;
	right:-70px;
	top:250px;
}

#bg_circle_3{
	width:300px;
	height:300px;
	border-radius: 200px;
	background-color: #00468C;
	opacity: 0.5;
	position: absolute;
	left:-60px;
	top:-50px;
}

.submit{
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 100%;
	height:20px;
	border-radius: 5px;
	border-color: #FFF;
	border-width: 0;
	color:#FFF;
	font-family: 'arial';
	font-size: 18px;
	border-style: solid;
	background-color: rgba(255,255,255,0);
	position:relative;
	z-index: 1;
	transition-duration: 0.2s;
  transition-timing-function: linear;
  cursor: pointer;
}

.submit:hover{
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 100%;
	height:20px;
	border-radius: 5px;
	border-color: #FFF;
	border-width: 0;
	color:#FFF;
	font-family: 'arial';
	font-size: 18px;
	border-style: solid;
	background-color: rgba(255,255,255,0);
	position:relative;
	z-index: 1;
	transform: scale(1.1);
	transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

/*
	HOME
*/

.container_home{
	text-align: center;
	width:480px;
	height: 800px;
	background: linear-gradient(90deg, rgba(43,76,236,1) 0%, rgba(20,73,184,1) 39%, rgba(9,71,161,1) 53%, rgba(47,76,244,1) 92%, rgba(47,76,244,1) 100%);
	margin: 0 auto;
	overflow: hidden;
	position:relative;
}

#perfil{
	width:85%;
	height:150px;
	background: linear-gradient(90deg, rgba(250,191,14,1) 0%, rgba(250,191,14,1) 5%, rgba(252,214,99,1) 49%, rgba(253,220,28,1) 76%, rgba(253,220,2,1) 100%);
	margin:0 auto;
	border-radius: 15px;
	margin-top: 20px;
	position:relative;
	z-index: 1;
	overflow: hidden;
	transform: scale(1.0);
	transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

#perfil:hover{
	transform: scale(1.02);
	transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

#img_home{
	position:relative;
	float:left;
	margin-left: 10px;
	margin-top: 10px;
}

#icon_home{
	position:relative;
	float:right;
	margin-left: 10px;
	margin-top: 10px;
	margin-top: 15px;
	margin-right: 10px;
	transform: scale(1.00);
	transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

#icon_home:hover{
	transform: scale(1.05);
	transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

#class_perfil{
	width:70%;
	height:85px;
	top: 65px;
	background-color: rgba(255,255,255,0);
	position: relative;
}

#user{
	height:10px;
	top:-50px;
	font-family: 'arial black';
	float:left;
	text-align: left;
	font-size: 14px;
	margin:0;
	margin-left:15px;
	padding: 0;
	position: relative;
}

.article{
	text-align: left;
	top:-55px;
	float:left;
	font-size: 13px;
	font-family: arial;
	display: block;
	height:40px;
	position:relative;
	margin-left:15px;
}

.searchBox{
	width:85%;
	color:#FFF;
	height: 35px;
	border-width: 1px;
	border-color: #FFF;
	border-style: solid;
	border-radius: 5px;
	background: linear-gradient(90deg, rgba(43,76,236,1) 0%, rgba(20,73,184,1) 39%, rgba(9,71,161,1) 53%, rgba(47,76,244,1) 92%, rgba(47,76,244,1) 100%);
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	border:none;
}

#input_container {
    position:relative;
    margin:0 auto;
    margin-top: 20px;
    direction: rtl;
    width: 83%;
}
#input {
    height:20px;
    margin:0;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(43,76,236,1) 0%, rgba(20,73,184,1) 39%, rgba(9,71,161,1) 53%, rgba(47,76,244,1) 92%, rgba(47,76,244,1) 100%);
    border-color: #FFF;
    border-style: solid;
    border-width: 0.5px;
    text-align: center;
    color:#FFF;
}
#input_img {
    position:absolute;
    bottom:7px;
    left:5px;
    width:19px;
    height:19px;
}

#input_img:hover {
    position:absolute;
    bottom:7px;
    left:5px;
    width:19px;
    height:19px;
}

#nav{
	width:396px;
	height:250px;
	background: linear-gradient(90deg, rgba(250,191,14,1) 0%, rgba(250,191,14,1) 5%, rgba(252,214,99,1) 49%, rgba(253,220,28,1) 76%, rgba(253,220,2,1) 100%);
	position: relative;
	margin:0 auto;
	background-image: url("../assets/menu.png");
	background-size: 396px 250px;
	background-repeat: no-repeat;
	margin-top: 20px;
	border-radius: 10px;
	overflow: hidden;
}

.nav_section{
	width:32%;
	background-color: rgba(255,255,255,0);
	height:50%;
	position: relative;
	float:left;
}

#slider{
	width:396px;
	height:160px;
	background-image: url("../assets/slider.png");
	background-size: 700px 375px;
	background-position: -77px,5px;
	background-repeat: no-repeat;
	margin:0 auto;
	margin-top: 20px;
	border-radius: 8px;
	position: relative;
}

#dots{
	margin:0 auto;
	margin-top: 20px;
	width:50%;
	height:50px;
}

.dot{
	background: linear-gradient(90deg, rgba(250,191,14,1) 0%, rgba(250,191,14,1) 18%, rgba(252,214,99,1) 48%, rgba(253,220,28,1) 79%, rgba(253,220,2,1) 100%);
	width:10px;
	height: 10px;
	margin:0 auto;
	border-radius: 10px;
	position: relative;
	display: inline-block;
}

.footer{
	width: 85%;
	height: 50px;
	margin:0 auto;
	background-image: url("../assets/footer.png");
	background-size: 320px 60px;
	background-position: 45px,50px;
	background-repeat: no-repeat;
	background-color: #AD000D;
	position: relative;
	border-radius: 5px;
}

.footer_section{
	width:33%;
	background-color: rgba(255,255,255,0);
	height:100%;
	position: relative;
	float:left;
}